.back {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 2px;
}

.box {
    border: 2px solid #4c4f4c;
    background-color: #4c4f4c;
    margin-bottom: 20px;
    border-radius: 20px;
}

.nav-box {
    border: 2px solid #4c4f4c;
    background-color: #4c4f4c;
    border-radius: 20px;
    text-align: center;
    margin-bottom: 40px;
}

nav a {
    padding: 10px;
    color: #95E6F9;
}
nav a:visited {
    color: #95E6F9;
}

.para-box {
    border: 2px solid #4c4f4c;
    background-color: #4c4f4c;
    padding: 100px;
    border-radius: 20px;
}

.header {
    font-size: 75px;
    text-align: center;
    color: #95E6F9;
    padding: 40px;
}

html, body {
    height: 100%;
}

body {
    background-color: #323332;
    padding-left: 60px;
    padding-right: 60px;
}

.main {
    color: #95E6F9;
}

.container {
    display:grid;
    grid-gap: 10px;
    grid-template-columns: 1fr;
    color: #95E6F9;
}

.section-title {
    color: #95E6F9;
    font-weight: bold;
    font-size: 30px;
}

.section-para {
    color: #95E6F9;
    font-size: 20px;
    -webkit-text-stroke-width: 0.08px; /* The thickness of the outline */
    -webkit-text-stroke-color: white; /* The color of the outline */
}