.title {
    text-align: center;
    color: #95E6F9;
    font-family: Serif;
    font-size: 50px;
}

.box {
    border: 2px solid #95E6F9;
    border-radius: 12px;   /* controls roundness */
    padding: 16px;
    width: 300px;
    color: #95E6F9;
    text-align: center;
    font-size: 30px;
    background-color: black;
}

.box:hover {
    box-shadow: 0 0 20px 5px rgba(0, 255, 255, 0.7);
    transform: translateY(-5px);
    border-color: #00ffff;
}

html, body {
    height: 100%;
    margin: 0;
}

/* Background image */
body {
    background-color: #323332;
    display: grid;
    place-items: center;
}

.box-grid {
    horiz-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    padding: 10px;
    align-items: center;
}