.title {
    text-align: center;
    color: #95E6F9;
    font-family: Serif;
    font-size: 50px;
}

.box {
    border: 2px solid #95E6F9;
    border-radius: 12px;   /* controls roundness */
    padding: 16px;
    width: 300px;
    color: #95E6F9;
    text-align: center;
    font-size: 30px;
}

html, body {
    height: 100%;
    margin: 0;
}

/* Background image */
body {
    background-image: url("background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: grid;
    place-items: center;
}

.box-grid {
    horiz-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    padding: 10px;
    align-items: center;
}