.title {
    text-align: center;
    color: #95E6F9;
    font-family: Serif;
    font-size: 50px;
}

.subtitle {
    text-align: left;
    color: #95E6F9;
    font-family: Serif;
    font-size: 30px;
    font-weight: bold;
    padding-left: 10px;
}

.title-box {
    border: 2px solid #4c4f4c;
    background-color: #4c4f4c;
    margin-bottom: 20px;
    border-radius: 20px;
    width: 80%;
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: center;
}

.pfp {
    width: 100px;
    height: 100px;
    object-fit: cover;     /* keeps image from stretching */
    border-radius: 100%;    /* optional: circular photo */
    padding: 10px;
}

.text-box {
    border: 2px solid #4c4f4c;
    background-color: #4c4f4c;
    margin-bottom: 20px;
    border-radius: 20px;
    width: 80%;
}

.page-text {
    color: #95E6F9;
    font-size: 25px;
    padding: 25px;
}

.box {
    border: 2px solid #95E6F9;
    border-radius: 12px;   /* controls roundness */
    padding: 16px;
    width: 300px;
    color: #95E6F9;
    text-align: center;
    font-size: 30px;
    background-color: black;
}

.box:hover {
    box-shadow: 0 0 20px 5px rgba(0, 255, 255, 0.7);
    transform: translateY(-5px);
    border-color: #00ffff;
}

html, body {
    height: 100%;
    margin: 0;
}

/* Background image */
body {
    background-color: #323332;
    display: grid;
    place-items: center;
}

.box-grid {
    horiz-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 10px;
    align-items: center;
}