.back {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 2px;
    border: 2px solid lightgray;
    background-color: #4c4f4c;
    margin-bottom: 10px;
    color: lightgray;
}

.box {
    border: 2px solid #4c4f4c;
    background-color: #4c4f4c;
    margin-bottom: 20px;
    border-radius: 20px;
}

.nav-box {
    border: 2px solid #4c4f4c;
    background-color: #4c4f4c;
    border-radius: 20px;
    text-align: center;
    margin-bottom: 40px;
}

nav a {
    padding: 10px;
    color: #95E6F9;
}
nav a:visited {
    color: #95E6F9;
}

.para-box {
    border: 2px solid #4c4f4c;
    background-color: #4c4f4c;
    padding: 100px;
    border-radius: 20px;
    width: 70%;
}

.header {
    font-size: 75px;
    text-align: center;
    color: #95E6F9;
    padding: 40px;
}

html, body {
    height: 100%;
}

body {
    background-color: #323332;
    padding-left: 60px;
    padding-right: 60px;
}

.main {
    color: #95E6F9;
}

.container {
    display:grid;
    grid-gap: 10px;
    grid-template-columns: 1fr;
    color: #95E6F9;
}

.section-title {
    color: #95E6F9;
    font-weight: bold;
    font-size: 50px;
}

.section-para {
    color: #95E6F9;
    font-size: 20px;
    -webkit-text-stroke-width: 0.08px; /* The thickness of the outline */
    -webkit-text-stroke-color: white; /* The color of the outline */
}

.para-header {
    border: 2px solid #4c4f4c;
    background-color: #4c4f4c;
    margin-bottom: 40px;
    border-radius: 20px;
    width: 80%;
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: space-around;
}

.project-box {
    display: flex;
    gap: 16px;
    align-items: flex-start;
}

.vert-proj {
    border: 2px solid #4c4f4c;
    border-radius: 20px;
    background-color: #4c4f4c;
    height: 99.5%;
    width: 30%;
    align-content: center;
}

.vert-header {
    padding-left: 10px;
    font-size: 35px;
}

.vert-para {
    padding-left: 30px;
    font-size: 30px;
}

.repo-link {
    display: inline-block;
    padding: 12px 18px;
    border-radius: 999px;

    background-color: #4c4f4c;
    color: #95E6F9;

    transition: transform 0.15s ease, box-shadow 0.15s ease;
}

.repo-link:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0,0,0,0.3);
}

.repo-link:visited {
    color: #95E6F9; /* prevents purple */
}